#all-div {
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
}

#frontpage {
    background-image: url("../images/CrashImage.jpg");
    z-index: 4;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: absolute;
    background-color: black;
}

#frontpage-header {
    font-size: 64px;
    color: white;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    margin-top: 25%;
}

#frontpage-subheader {
    font-size: 22px;
    color: white;
    font-family: 'Lucida Grande', Geneva, Verdana, sans-serif;
}

#icon-row {
    margin-top: 100px;
}

.frontpage-button {
    cursor: pointer;
    cursor: hand;
}

.glyphicon {
    color: white;
    font-size: 100px;
    margin: 0 auto;
}

.icon-caption {
    color: white;
    font-weight: bold;
}

.icon-align {
    text-align: center;
}

#info-box-container {
    z-index: 5;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
}

#info-box-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

#info-box {
    z-index: 6;
    position: absolute;
    margin-top: 10%;
    background-color: #d3d3d3;
}

#close-button {
    margin-top: 10px;
    float: right;
}

/* hyperlink styling */
a {
    text-decoration: underline;
    color: black;
}

/* remove margin from default h1 */
h1 {
    margin: 0;
}

/* full page map setting size, font, z-index and margin */
html, body, #map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin: 0px;
}

#controller-row {
    margin-top: 3px;
}

#controller {
    position: absolute;
    z-index: 2;
    right: 0px;
    margin: 10px;
    background: #ECECEC;
    border: 1px solid #8C8C8C;
    -moz-box-shadow: 0 0 2px 2px #888888;
    -webkit-box-shadow: 0 0 2px 2px #888888;
    box-shadow: 0 0 2px 2px #888888;
}

#controller-content {
    font-size: 12px;
    margin: 3px;
    padding: 12px;
}

#controller-content h4 {
    margin: 0px 0 6px 0px;
}

#filter-hide-button {
    margin-bottom: 6px;
}

fieldset {
    border: none;
    margin: 0px;
    padding-bottom: 6px;
}

fieldset p {
    margin: 6px 3px 3px 0px;
}

input {
    font-size: 14px;
}

.legend-label {
    margin-left: 3px;
}

#info-button-on-map {
    position: fixed;
    z-index: 2;
    right: 0px;
    bottom: 0px;
}

#info-button-on-map .glyphicon {
    color: white;
    font-size: 78px;
    margin: 30px;
    cursor: pointer;
    cursor: hand;
    border-radius: 50px;
    border: 1px solid #8C8C8C;
    -moz-box-shadow: 0 0 2px 2px #888888;
    -webkit-box-shadow: 0 0 2px 2px #888888;
    box-shadow: 0 0 2px 2px #888888;
}

.legendDot {
    height: 12px;
    width: 12px;
    border-radius: 6px;
    top: 2px;
    margin-right: 30%;
    float: right;
    position: relative;
}

#redDot {
    background-color: #ff1a1a;
}

#orangeDot {
    background-color: #ff821a;
}

#yellowDot {
    background-color: #a7ee18;
}

#greenDot {
    background-color: #15CC15;
}

.legendText {
    float: left;
}

#clear {
    clear: both;
}

.leaflet-popup-content {
    width: 300px;
}

.leaflet-popup-content-wrapper {
    background: #ECECEC;
    -moz-box-shadow: 0 0 2px 2px #888888;
    -webkit-box-shadow: 0 0 2px 2px #888888;
    box-shadow: 0 0 2px 2px #888888;
}

.leaflet-popup-tip {
    background: #ECECEC;
    -moz-box-shadow: 0 0 2px 2px #888888;
    -webkit-box-shadow: 0 0 2px 2px #888888;
    box-shadow: 0 0 2px 2px #888888;
}
/* bold class */
.bold {
    font-weight: bold;
}

/* red text class for the word 'crash' or 'crashes'*/
.red {
    color: rgb(255,26,26);
}

/* class for the popup crash location text */
.crash-location {
    display:table;
    margin:0 auto;
    font-weight: bold;
    font-size: 16px;
    color: rgb(255,26,26);
}

/* class for the popup crash date text */
.date {
    display:table;
    margin:0 auto;
    font-weight: normal;
    font-size: 12px;
}

/* class for the popup crash time text */
.time {
    display:table;
    margin:0 auto;
    font-weight: normal;
    font-size: 16px;
    font-family: VT323;
}

/* class for the popup crash time text */
.road {
    display:table;
    margin:0 auto;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255,26,26);
}

/* class for environmental icons */
#environment-icons {
    display: table;
    margin:0 auto;
    margin-bottom: 0px;
}

#environment-icons img {
    height: 25px;
    width: 25px;
    position: relative;
    margin-left: 3px;
    margin-right: 3px;
}

#streetview-container {
    height: 200px;
    width: 300px;
}

#vehicle-injury {
    margin: 3px 0 3px 0;
}

#vehicle-icons img {
    height: 30px;
    width: 30px;
    position: relative;
    float: left;
    margin-left: 3px;
    margin-right: 3px;
}

#injury-icons img {
    height: 30px;
    width: 30px;
    position: relative;
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}

/* class for the popup crash date text */
.causes-text {
    align:'left';
    font-weight: normal;
    font-size: 10px;
}
